// TYPOGRAPHY
$fontBase: 'Roboto',
sans-serif;
$fontColor_prime: #383334;
$fontColor_second: #666666;


// COLORS

// Orange
$orange: #FF6B00;
// grey
$grey: #383334;

// white
$white: #fff;

// black
$black: #0000;

// green
$green: #A8CA3F;

// Brand color
$prime: $orange;
$second: $green;

// Indents updated
// --------------------------------------------------
$containerHorIndent: 10rem;
$containerVerIndent: 10rem;

// Indents updated
// --------------------------------------------------
$containerVerIndentMobile: 4rem;